@import url("https://webfontworld.github.io/SCoreDream/SCoreDream.css");
@import url("https://webfontworld.github.io/cafe24/Cafe24Danjunghae.css");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "SCoreDream";
  background-color: #fefefc;
  width: 100%;
  margin: 0 auto;
}

a {
  display: block;
  text-decoration: none;
  color: #fefefc;
}

ul li, ol li {
  list-style: none;
}

img {
  display: block;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
}

p {
  font-size: 0.9em;
}

span {
  display: block;
  font-size: 1em;
}

header,
nav,
main,
section,
aside,
article,
footer {
  display: block;
}

body {
  padding-top: 60px;
  -ms-overflow-style: none;
}

@media screen and (min-width: 1024px) {
  body {
    padding-left: 80px;
    padding-top: 0;
  }
}

::-webkit-scrollbar {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 15px;
  border-bottom: 1px solid #333;
  background-color: #fefefc;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  header {
    width: 80px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 60px 0;
    border-bottom: 0;
    border-right: 1px solid #333;
  }
}

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 1024px) {
  header h1 {
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media screen and (min-width: 1024px) {
  header nav {
    height: 30%;
  }
}

@media screen and (min-width: 1024px) {
  header nav ul.gnb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header nav ul.gnb li {
  display: none;
}

@media screen and (min-width: 1024px) {
  header nav ul.gnb li {
    display: block;
  }
}

header nav ul.gnb li:first-child {
  display: block;
}

header nav ul.gnb li:first-child img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1024px) {
  header nav ul.gnb li:first-child {
    display: none;
  }
}

header nav ul.gnb li a span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #82ca9c;
}

@media screen and (min-width: 1024px) {
  header div.side-menu .s-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header div.side-menu .s-menu li {
  display: none;
}

@media screen and (min-width: 1024px) {
  header div.side-menu .s-menu li {
    display: block;
    margin-top: 35px;
  }
}

header div.side-menu .s-menu li:first-child {
  font-size: 18px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 0;
}

header div.side-menu .s-menu li:first-child a {
  color: #333333;
}

header div.side-menu .s-menu li:last-child {
  display: block;
}

header div.side-menu .s-menu li:last-child a img {
  width: 25px;
  height: 25px;
}

main {
  width: 100%;
}

main section.main-section {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1024px) {
  main section.main-section {
    width: 100%;
    height: 100vh;
  }
}

main section.main-section h2 {
  display: none;
}

main section.main-section video {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1024px) {
  main section.main-section video {
    width: 100%;
    height: 100vh;
  }
}

main section.section2 {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 12% 0;
}

@media screen and (min-width: 1024px) {
  main section.section2 {
    padding: 0 100px;
    margin: 120px 0;
  }
}

@media screen and (min-width: 1024px) {
  main section.section2 h2 + .sec2-txt {
    text-align: left;
  }
}

main section.section2 h2 {
  display: none;
}

main section.section2 .sec2-txt {
  width: 100%;
}

main section.section2 .sec2-txt p {
  font-size: 3vw;
  line-height: 1.8;
}

@media screen and (min-width: 1024px) {
  main section.section2 .sec2-txt p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  main section.section2 .sec2-img + .sec2-txt {
    text-align: right;
  }
}

main section.section2 .sec2-img {
  width: 100%;
  margin: 10% 0;
}

main section.section2 .sec2-img .img {
  margin: auto;
  width: 53%;
  height: auto;
}

main section.section2 .sec2-img .img img {
  width: 100%;
  height: auto;
}

main div.event {
  position: relative;
  padding: 10% 20px 15% 20px;
  background: url(../images/shdow-m.png);
  background-size: cover;
  background-color: #82ca9c;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  main div.event {
    padding: 10% 40px 15% 40px;
  }
}

main div.event h2 {
  font-size: 6.4vw;
  color: #fefefc;
  font-family: "Cafe24Danjunghae";
  font-weight: 400;
}

main div.event .more {
  margin: 5% 0;
  text-align: center;
}

main div.event .more .box {
  width: 30%;
  height: auto;
  padding: 3px 0;
  background-color: #333333;
}

main div.event .more .box p {
  font-size: 3.2vw;
  font-weight: 500;
  color: #fefefc;
}

main div.event .rl-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

main div.event .rl-icon div {
  width: 13%;
  margin-left: 3.4%;
}

main div.event .rl-icon div a {
  width: 100%;
}

main div.event .rl-icon div a img {
  width: 100%;
  height: auto;
}

main div.event .ev-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6%;
}

main div.event .ev-img div {
  width: 48%;
  height: auto;
}

main div.event .ev-img div a {
  width: 100%;
}

main div.event .ev-img div a img {
  width: 100%;
  height: auto;
}

main section.section3 {
  width: 100%;
}

main section.section3 h2 {
  display: none;
}

main section.section3 div.bg {
  width: 100%;
}

main section.section3 div.bg img {
  width: 100%;
  height: auto;
}

main div.popup-des {
  width: 100%;
  padding: 16.5% 0;
  text-align: center;
  font-family: "Cafe24Danjunghae";
  color: #666666;
}

main div.popup-des .title {
  width: 100%;
}

main div.popup-des .title div {
  width: 100%;
}

main div.popup-des .title div div {
  width: 35%;
  margin: auto;
}

main div.popup-des .title div div img {
  width: 100%;
  height: auto;
}

main div.popup-des .title h2 {
  font-size: 8.5vw;
  font-weight: 400;
  letter-spacing: 1.4vw;
  margin: 4.2%;
}

main div.popup-des .title h3 {
  font-size: 5vw;
  font-weight: 400;
  letter-spacing: 0.4vw;
  margin-bottom: 12.5%;
}

main div.popup-des .title h3 span {
  display: inline-block;
  color: #82ca9c;
}

main div.popup-des .tit-des {
  width: 100%;
}

main div.popup-des .tit-des p {
  font-size: 3.6vw;
  font-weight: 500;
  font-family: "SCoreDream";
  letter-spacing: 0.4vw;
  line-height: 1.6;
}

main div.popup-des .popup-loc {
  width: 100%;
}

main div.popup-des .popup-loc div.map-wrap {
  width: 100%;
  margin: 6.2% 0;
}

main div.popup-des .popup-loc div.map-wrap img {
  width: 14.5%;
  height: auto;
  margin: auto;
}

main div.popup-des .popup-loc div.log-wrap {
  width: 100%;
}

main div.popup-des .popup-loc div.log-wrap div {
  width: 55%;
  margin: auto;
}

main div.popup-des .popup-loc div.log-wrap div img {
  width: 100%;
  height: auto;
}

main div.popup-des .popup-loc h3 {
  font-size: 4.6vw;
  font-weight: 400;
  letter-spacing: 0.4vw;
  margin: 3.7% 0;
}

main div.popup-des .popup-loc h3 span {
  display: inline-block;
  color: #82ca9c;
}

main div.popup-des div.loc-btn {
  width: 100%;
}

main div.popup-des div.loc-btn div.loc-box {
  margin: auto;
  width: 41%;
  border: 4px solid #abd4bb;
}

main div.popup-des div.loc-btn div.loc-box p {
  font-weight: 400;
  font-size: 7vw;
  font-family: "SCoreDream";
  letter-spacing: 0.6vw;
  color: #82ca9c;
}

main section.section4 {
  width: 100%;
}

main section.section4 h2 {
  display: none;
}

main section.section4 ul {
  width: 100%;
  text-align: center;
}

main section.section4 ul li {
  position: relative;
  width: 100%;
}

main section.section4 ul li div.pd-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fefefc;
}

main section.section4 ul li div.pd-txt h3 {
  font-weight: 500;
  font-size: 6.4vw;
  letter-spacing: 0.4vw;
  margin-bottom: 2.4%;
}

main section.section4 ul li div.pd-txt p {
  font-weight: 400;
  font-size: 3.2vw;
  letter-spacing: 0.7px;
}

main section.section4 ul li a {
  width: 100%;
}

main section.section4 ul li a img {
  width: 100%;
  height: auto;
}

main section.section4 ul li:hover {
  opacity: 0.5;
}

footer {
  padding: 16.5% 20px 10% 20px;
  width: 100%;
  background-color: #82ca9c;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 16.5% 30px;
  }
}

footer div.footer-logo {
  width: 45%;
  height: auto;
}

footer div.footer-logo h2 a img {
  width: 100%;
  height: auto;
}

footer div.f-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20.4%;
}

footer div.f-top div {
  margin-right: 5%;
}

footer div.f-top div a {
  font-size: 3.4vw;
  color: #fefefc;
}

footer div.sns-icon {
  width: 100%;
}

footer div.sns-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 9% 0;
}

footer div.sns-icon ul li {
  width: 5.5%;
  height: auto;
  margin-right: 7%;
}

footer div.sns-icon ul li a {
  width: 100%;
}

footer div.sns-icon ul li a img {
  width: 100%;
  height: auto;
}

footer div.sns-icon .rl-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

footer div.sns-icon .rl-icon div {
  width: 13%;
  margin-left: 3.4%;
}

footer div.sns-icon .rl-icon div a {
  width: 100%;
}

footer div.sns-icon .rl-icon div a img {
  width: 100%;
  height: auto;
}

footer div.f-des {
  width: 100%;
}

footer div.f-des ul {
  width: 100%;
}

footer div.f-des ul li {
  font-size: 3vw;
  color: #fefefc;
  margin-bottom: 5%;
}

footer div.f-des ul li:last-child {
  margin-bottom: 0;
}

footer div.f-des ul li:nth-child(4) {
  display: inline-block;
  margin-right: 3%;
}

footer div.f-des ul li:nth-child(5) {
  display: inline-block;
}

footer div.f-des ul li:nth-child(5) a {
  color: #666666;
}

footer div.kcp {
  width: 100%;
  margin: 11.3% 0;
}

footer div.kcp .k-icon {
  width: 15%;
  margin: auto;
  margin-bottom: 2.6%;
}

footer div.kcp .k-icon img {
  width: 100%;
  height: auto;
}

footer div.kcp .k-des {
  text-align: center;
  width: 90%;
  margin: auto;
}

footer div.kcp .k-des p {
  font-size: 2.8vw;
  line-height: 2;
  color: #fefefc;
}

footer div.copyright {
  text-align: center;
}

footer div.copyright p {
  font-size: 2.6vw;
  color: #fefefc;
}
/*# sourceMappingURL=index.css.map */