@import "style.scss";
@import "common.scss";
@import "mixin.scss";

// body {
//     padding-top: 60px;

//     @include responsive(pc-size) {
//         padding-left: 80px;
//         padding-top: 0;
//     }
// }
body {
    @include responsive(pc-size) {
        margin: 0 auto;
        padding: 0 auto;
    }
}


// header-area
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    width: $width-wide;
    height: 60px;
    padding: 0 15px;
    border-bottom: 1px solid #333;
    background-color: $bg-color;

    @include responsive(pc-size) {
        width: 80px;
        height: 100%;
        flex-direction: column;
        // align-items: baseline;
        padding: 60px 0;
        border-bottom: 0;
        border-right: 1px solid #333;
    }

    h1 {
        // background-color: aqua;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include responsive(pc-size) {
            // height: 20%;
            position: static;
            top: 0;
            left: 0;
            transform: translate(0, 0);
        }
    }

    nav {
        // background-color: aquamarine;

        @include responsive(pc-size) {
            height: 30%;
        }

        ul.gnb {

            @include responsive(pc-size) {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            li {
                display: none;
    
                @include responsive(pc-size) {
                    display: block;
                }
    
                &:first-child {
                    display: block;

                    img {
                        height: 20px;
                    }
    
                    @include responsive(pc-size) {
                        display: none;
                    }
                }
    
                &:nth-child(2) {
                    a {
                        span {
                            @include responsive(pc-size) {
                                margin-top: 0;
                            }
                        }
                    }
                }
    
                a {
                    img {
                        width: 25px;
                        height: auto;
                    }
    
                    span {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        // margin-top: 70px;
                        background-color: $point-color;
                    }
                }
            }
        }
    }

    div.side-menu {
        // background-color: pink;

        @include responsive(pc-size) {
            height: 20%;
        }

            .s-menu {
                
                @include responsive(pc-size) {
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                }

                li {
                    display: none;
    
                    @include responsive(pc-size) {
                        display: block;
                    }
    
                    &:first-child {
                        font-size: 18px;
                        // transform: rotate(-90deg);
                    }
        
                    &:last-child {
                        display: block;
        
                        a {
                            img {
                                width: 25px;
                                height: 25px;
                            }
                        }
                    }
                }
            }
        }
    }


//main-area
main {
    width: $width-wide;
    // height: 300px;

    @include responsive(tablet-size) {
        display: flex;
        flex-direction: row;
        // flex-wrap: wrap;
    }

    @include responsive(pc-size) {
        flex-direction: column;
        // align-items: center;
        margin: 0 auto;
        // padding: 0 auto;
    }

    nav {
        display: none;

        @include responsive(pc-size) {
            display: block;
        }

        .wrapper {
            width: 100%;


            @include responsive(pc-size) {
                width: 1024px;
                margin: 0 auto;
            }

            .gnb {
                display: flex;
                justify-content: flex-end;
                list-style: none;
                flex-direction: row;
                margin-left: 30px;
    
                li {
                    display: inline-block;
                    padding-top: 112px;
                    padding-right: 58px;
    
                    a {
                        font-size: 1em;
                        font-family: $main-font;
                    }
    
                }
            }

        }
 
    }

    .title-login{
        position: relative;
        margin: 0 auto;
        padding-top: 93px;


        @media screen and (min-width: 1024px) {
            padding-left: 279px;
            padding-top: 137px;
        }

        .title-fir {
            font-size: 1.5em;
            font-family: $title-font;
            font-weight: 500;
            //display: flex;
            margin: 0 auto;
            padding: 0 auto;

        }

        @include responsive(mobile-size) {
            width: 1024px;
            font-size: 3em;
            font-family: $main-font;
            margin-left: 80px;


            .title {
                margin-top: 55px;
                padding: 0 auto;
                background-color: aquamarine;

                @include responsive(pc-size) {
                    display: block;
                    float: left;
                    margin: 0 auto;
                    padding: 0 auto;

                }
            }
            .title-sub {
                display: none;
                font-size: 22px;
                font-family: "SCoreDream";
                font-weight: 500;
                margin: 0 auto;
                
                @include responsive(pc-size) {
                    display: block;
                    float: left;
                    padding-top: 13px;
                    //padding-left: 220px;
                    margin-top: -57px;
                    margin-left: 200px;
                    background-color: orange;

                }

            }
        }
        
        nav.content-menu {
            @include responsive(pc-size) {
                padding-top: 388px;


            }

            @include responsive(mobile-size) {
                display: flex;
                //background-color: aqua;
                margin-top: 42px;
            }

            ul {
                display: flex;
                width: 800px;
                margin: 32px auto 34px;
                font-size: 30px;
                        
                li {
                    &:first-child a{
                        border-right: 0;
                        border-bottom: 0;
                      }

                    a {
                        color: #333333;
                        width: 200px;
                        text-align: center;
                        border: 1px solid #666666;
                        padding: 10px;
        
                        &:hover {
                            color: $point-color;
                            border-left: 2px solid $point-color;
                            border-top: 2px solid $point-color;
                            border-right: 2px solid $point-color;
                            font-size: 29px;
                        }
                    }
                }
            
            }
        }
        
        .loginform {
            
            @include responsive(mobile-size) {
                margin: 0 auto;
                padding: 0 auto;
                display: flex;
                align-content: center;
                //margin-top: 42px;
            }

            @include responsive(pc-size) {
                margin: 0 auto;
                padding: 0 auto;
                margin-top: 70px;
                display: flex;
                align-content: center;
                margin-top: 42px;
            }


            .loginform-box {
                width: 328px;
                margin-left: auto;
                margin-right: auto;
                
                
                .loginform-input-form {
                    width: 328px;
                    margin-left: auto;
                    margin-right: auto;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    
                    section .loginform-input-area {
                        .loginform-id .loginform-pw {
                            font-size: 15px;
                            width: 328px;
                            height: 48px;
                            border: 1px solid #e1dedf;
                            padding-left: 14px;
                            font-size: 14px;
                            margin-top: 8px;
                        } 
                        
                    }

                    .loginform-input-submit {
                        background-color: $point-color;
                    }
                    
                }
                button {
                    cursor: pointer;
                    margin: 0;
                    padding: 0;
                    width: 328px;
                    height: 48px;
                    background-color: $point-color;
                    border-color: $bg-color;
                    color: $bg-color;
                    border-radius: 30px;
                    font-size: 25px;
                    font-family: 'SCoreDream';
                }
            }

        }

            .find-login {
                display: none;

                margin-top: 20px;
                font-size: 16px;
                text-align: center;

                @include responsive(pc-size) {
                    display: block;

                    width: 380px;
                    background-color: aquamarine;
                }

                #log .login-id ul {
                    cursor: pointer;
                    color: #333333;
                }
    
                .find-login section
                .login-id li a:hover {
                    color: $point-color;
                }
    
                .login-id ul li {
                    display: flex;
                    justify-content: space-between;
                  
                    margin: 0;
                    padding: 0;
                    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    &:hover {
                        color: $point-color;
                    }

                }
    
                .find-login
                .login-align li {
                    display: flex;
                    margin: 0;
                    padding: 0;
                    margin-left: auto;
                    margin-right: auto;
                }
                
                .login-id {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
    
                .login-id ul li {
                    border-right: 1px solid #333333;
                    padding-right: 25px;
                    margin-left: 14.5px;
                    justify-content: space-between;
                }
    
                .login-id ul li:last-child {
                    border-right: 0;
                }
                
                .login-id ul li a:hover{
                    color: $point-color;
                }

                
            }




            
        
        

    }

 
}
