@import "style.scss";
@import "common.scss";
@import "mixin.scss";

body {
    -ms-overflow-style: none;

    @include responsive(pc-size) {
        padding-left: 80px;
    }
}

::-webkit-scrollbar { display: none; }

// header-area
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $width-wide;
    height: 60px;
    padding: 0 15px;
    border-bottom: 1px solid #333;
    background-color: $bg-color;
    z-index: 1;

    @include responsive(pc-size) {
        width: 80px;
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding: 60px 0;
        border-bottom: 0;
        border-right: 1px solid #333;
    }

    h1 {
        order: 2;

        @include responsive(pc-size) {
            order: 1;
        }

    }

    nav {
        order: 1;

        @include responsive(pc-size) {
            order: 2;
        }

        ul.gnb {
            @include responsive(pc-size) {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            li {
                display: block;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    div.side-menu {
        order: 3;

        .s-menu {         
            @include responsive(pc-size) {
                display: flex;
                height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }

            li {
                display: none;

                @include responsive(pc-size) {
                    display: block;
                    margin-top: 35px;
                }

                &:first-child {
                    font-size: 18px;
                    // transform: rotate(-90deg);
                    margin-top: 0;

                    a {
                        color: $font-color;
                    }
                }
    
                &:last-child {
                    display: block;
    
                    a {
                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }
}

main {
    width: $width-wide;

    div.menu-sub {
        // 햄버거 버튼 클릭했을 때, header의 z-index값 음수로 적용하기
        // 햄버거버튼, 장바구니 아이콘, 닫기버튼 수정
        display: none;
        position: relative;
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        padding: 0 40px;
        margin: 0 auto;
        z-index: 10;
        background-color: rgba(256,256,256, 0.9);

        @include responsive(pc-size) {
            margin-left: 80px;
            width: 450px;
        }

        a.closebtn {
            position: absolute;
            top: 20px;
            right: 25px;
            font-size: 60px;
        }

        a {
            color: $font-color;
            padding: 8px;
            text-decoration: none;
            font-weight: 500;
            font-size: 36px;
            transition: 0.3s;

            &:hover {
                color: #999;
            }

            &:focus {
                color: #999;
            }
        }

        ul.myMenu {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: left;

            .menu-top {
                display: flex;

                a {
                    font-size: 22px;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    color: $font-color;

                    &:hover {
                        color: #999;
                    }
        
                    &:focus {
                        color: #999;
                    }
                }
            }

            li {
                margin-bottom: 10px;

                ul {
                    li {
                        a {
                            font-weight: 400;
                            font-size: 20px;
                            text-indent: 30px;
                        }
                    }
                }
            }
        }
    }
}

footer {
    padding: 16.5% 20px 10% 20px;
    // padding: 80px 20px 20px 20px;
    width: $width-wide;
    background-color: $point-color;

    @include responsive(tablet-size) {
        padding: 16.5% 30px;
    }

    @include responsive(pc-size) {
        width: 30%;
        padding: 10% 30px;
    }

    div.footer-logo {
        width: 45%;
        height: auto;

        @include responsive(pc-size) {
            width: 48%;
        }

        h2 {
            a {
                img {
                    width: $width-wide;
                    height: auto;
                }
            }
        }
    }

    div.f-top {
        display: flex;
        margin-top: 20.4%;
        // margin-top: 90px;
        // background-color: pink;

        @include responsive(pc-size) {
            margin-top: 15%;
        }

        div {
            margin-right: 5%;

            a {
                font-size: 3.4vw;
                // font-size: 17px;
                color: $bg-color;

                @include responsive(pc-size) {
                    font-size: 1.3vw;
                }
            }
        }
        // div.f-top-fir {
        //     // background-color: aqua;
        // }

        // div.f-top-sec {
        //     // background-color: aquamarine;
        // }
    }

    div.sns-icon {
        width: $width-wide;

        ul {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            // background-color: pink;
            margin: 9% 0;
            // margin: 30px 0;

            @include responsive(pc-size) {
                margin: 10% 0;
            }

            li {
                width: 5.5%;
                height: auto;
                margin-right: 7%;
                // background-color: skyblue;

                @include responsive(pc-size) {
                    margin-right: 9%;
                }

                a {
                    width: $width-wide;

                    img {
                        width: $width-wide;
                        height: auto;
                    }
                }
            }
        }

        .rl-icon {
            display: flex;
            justify-content: flex-end;
            width: $width-wide;
            // background-color: pink;

            div {
                width: 13%;
                margin-left: 3.4%;
                // margin-left: 15px;

                a {
                    width: $width-wide;

                    img {
                        width: $width-wide;
                        height: auto;
                    }
                }
            }
        }
    }

    div.f-des {
        width: $width-wide;

        ul {
            width: $width-wide;

            li {
                font-size: 3vw;
                // font-size: 15px;
                color: $bg-color;
                margin-bottom: 5%;
                // margin-bottom: 20px;

                @include responsive(pc-size) {
                    font-size: 1vw;
                    margin-bottom: 6%;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &:nth-child(4) {
                    display: inline-block;
                    margin-right: 3%;
                }

                &:nth-child(5) {
                    display: inline-block;

                    a {
                        color: $font-sub-color;
                    }
                }
            }
        }

    }

    div.kcp {
        width: $width-wide;
        margin: 11.3% 0;
        // margin: 50px 0;

        @include responsive(pc-size) {
            margin: 10% 0;
        }

        .k-icon {
            width: 15%;
            margin: auto;
            margin-bottom: 2.6%;

            img {
                width: $width-wide;
                height: auto;
            }
        }

        .k-des {
            text-align: center;
            // text-align: justify;
            width: 90%;
            margin: auto;
            // margin-top: 12px;

            p {
                font-size: 2.8vw;
                // font-size: 14px;
                line-height: 2;
                color: $bg-color;

                @include responsive(pc-size) {
                    font-size: 0.9vw;
                }
            }
        }
    }

    div.copyright {
        text-align: center;

        p {
            font-size: 2.6vw;
            // font-size: 13px;
            color: $bg-color;

            @include responsive(pc-size) {
                font-size: 0.7vw;
            }
        }
    }
}