@import "style.scss";
@import "common.scss";
@import "mixin.scss";

body {
    padding-top: 60px;

    @include responsive(pc-size) {
        padding-left: 80px;
        padding-top: 0;
    }
}

// header-area
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $width-wide;
    height: 60px;
    padding: 0 15px;
    border-bottom: 1px solid #333;
    background-color: $bg-color;
    z-index: 1;

    @include responsive(pc-size) {
        width: 80px;
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding: 60px 0;
        border-bottom: 0;
        border-right: 1px solid #333;
    }

    h1 {
        order: 2;

        @include responsive(pc-size) {
            order: 0;
        }
    }

    nav {
        order: 1;
        // background-color: aquamarine;

        @include responsive(pc-size) {
            height: 30%;
        }

        ul.gnb {

            @include responsive(pc-size) {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            li {
                display: none;
    
                @include responsive(pc-size) {
                    display: block;
                }
    
                &:first-child {
                    display: block;

                    img {
                        width: 100%;
                        height: auto;
                    }
    
                    @include responsive(pc-size) {
                        display: none;
                    }
                }
    
                a {
                    span {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        // margin-top: 70px;
                        background-color: $point-color;
                    }
                }
            }
        }
    }

    div.side-menu {
        order: 3;
        // background-color: pink;

        @include responsive(pc-size) {
            // height: 18%;
        }

            .s-menu {
                
                @include responsive(pc-size) {
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                }

                li {
                    display: none;
    
                    @include responsive(pc-size) {
                        display: block;
                        margin-top: 35px;
                    }
    
                    &:first-child {
                        font-size: 18px;
                        transform: rotate(-90deg);
                        margin-top: 0;
                        // background-color: orange;

                        a {
                            color: $font-color;
                        }
                    }
        
                    &:last-child {
                        display: block;
        
                        a {
                            img {
                                width: 25px;
                                height: 25px;
                            }
                        }
                    }
                }
            }
        }
    }