@import url("https://webfontworld.github.io/SCoreDream/SCoreDream.css");
@import url("https://webfontworld.github.io/cafe24/Cafe24Danjunghae.css");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'SCoreDream';
  background-color: #fefefc;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
}

a {
  display: block;
  text-decoration: none;
  color: #333333;
}

a:hover {
  color: #82ca9c;
}

ul li, ol li {
  list-style: none;
}

img {
  display: block;
}

h1 {
  font-size: 1.8em;
}

span {
  display: block;
  font-size: 1em;
}

body {
  padding-top: 60px;
}

@media screen and (min-width: 1024px) {
  body {
    padding-left: 80px;
    padding-top: 0;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 15px;
  border-bottom: 1px solid #333;
  background-color: #fefefc;
}

@media screen and (min-width: 1024px) {
  header {
    width: 80px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px 0;
    border-bottom: 0;
    border-right: 1px solid #333;
  }
}

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 1024px) {
  header h1 {
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media screen and (min-width: 1024px) {
  header nav {
    height: 30%;
  }
}

@media screen and (min-width: 1024px) {
  header nav ul.gnb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header nav ul.gnb li {
  display: none;
}

@media screen and (min-width: 1024px) {
  header nav ul.gnb li {
    display: block;
  }
}

header nav ul.gnb li:first-child {
  display: block;
}

header nav ul.gnb li:first-child img {
  height: 20px;
}

@media screen and (min-width: 1024px) {
  header nav ul.gnb li:first-child {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  header nav ul.gnb li:nth-child(2) a span {
    margin-top: 0;
  }
}

header nav ul.gnb li a img {
  width: 25px;
  height: auto;
}

header nav ul.gnb li a span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #82ca9c;
}

main {
  width: 100%;
  height: 300px;
}

@media screen and (min-width: 768px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main nav {
  -webkit-box-flex: absolute;
      -ms-flex: absolute;
          flex: absolute;
  position: absolute;
  height: 228px;
  font-size: 15px;
}

main nav .wrapper {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  main nav .wrapper {
    width: 1024px;
    margin: 0 auto;
  }
}

main nav .wrapper .main-menu .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: 30px;
}

main nav .wrapper .main-menu .gnb .main-menu .gnb > li {
  display: inline-block;
  padding-top: 112px;
  padding-right: 58px;
}

main nav .wrapper .main-menu .gnb .main-menu .gnb > li .main-menu .gnb > li > a {
  font-size: 1em;
  font-family: "SCoreDream";
}

main .title-login {
  position: relative;
  top: 133px;
  left: 363px;
  padding: 0 auto;
}

main .title-login .title {
  font-size: 7em;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

main .title-login .title-sub {
  display: none;
}

@media screen and (min-width: 1024px) {
  main .title-login .title-sub {
    width: 1024px;
    font-size: 3em;
    font-family: "SCoreDream";
  }
}

main .title-login .content-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  margin: 32px auto 34px;
}

main .title-login .content-menu ul .content-menu li a {
  color: #333333;
  width: 400px;
  text-align: center;
  border: 1px solid #666666;
  padding: 10px;
}

main .title-login .content-menu ul .content-menu li a .content-menu li:last-child a {
  border-right: 1px solid #666666;
}

main .title-login .loginForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  margin: 0 auto;
}

main .title-login .loginForm .submit {
  width: 254px;
  height: 50px;
  border: 1px solid #82ca9c;
  border-radius: 10px;
  background-color: #82ca9c;
}
/*# sourceMappingURL=join.css.map */