@import "style.scss";
@import "common.scss";
@import "mixin.scss";

body {
    @include responsive(pc-size) {
        margin: 0 auto;
        padding: 0 auto;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    width: $width-wide;
    height: 60px;
    padding: 0 15px;
    border-bottom: 1px solid #333;
    background-color: $bg-color;

    @include responsive(pc-size) {
        width: 80px;
        height: 100%;
        flex-direction: column;
        padding: 60px 0;
        border-bottom: 0;
        border-right: 1px solid #333;
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include responsive(pc-size) {
            position: static;
            top: 0;
            left: 0;
            transform: translate(0, 0);
        }
    }

    nav {
        @include responsive(pc-size) {
            height: 30%;
        }

        ul.gnb {

            @include responsive(pc-size) {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            li {
                display: none;
    
                @include responsive(pc-size) {
                    display: block;
                }
    
                &:first-child {
                    display: block;

                    img {
                        height: 20px;
                    }
    
                    @include responsive(pc-size) {
                        display: none;
                    }
                }
    
                &:nth-child(2) {
                    a {
                        span {
                            @include responsive(pc-size) {
                                margin-top: 0;
                            }
                        }
                    }
                }
    
                a {
                    img {
                        width: 25px;
                        height: auto;
                    }
    
                    span {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: $point-color;
                    }
                }
            }
        }
    }

    div.side-menu {

        @include responsive(pc-size) {
            height: 20%;
        }

            .s-menu {
                
                @include responsive(pc-size) {
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                }

                li {
                    display: none;
    
                    @include responsive(pc-size) {
                        display: block;
                    }
    
                    &:first-child {
                        font-size: 18px;
                    }
        
                    &:last-child {
                        display: block;
        
                        a {
                            img {
                                width: 25px;
                                height: 25px;
                            }
                        }
                    }
                }
            }
        }
    }



main {
    width: $width-wide;


    @include responsive(tablet-size) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include responsive(pc-size) {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 0 auto;
    }

    nav {
        display: none;

        @include responsive(pc-size) {
            display: block;
        }

        .wrapper {
            width: 100%;

            @include responsive(tablet-size) {
                width: 100%;
                width: 1024px;
                margin: 0 auto;
            }

            @include responsive(pc-size) {
                width: 1024px;
                margin: 0 auto;
            }

            .gnb {
                display: flex;
                justify-content: flex-end;
                list-style: none;
                flex-direction: row;
                margin-left: 30px;
    
                li {
                    display: inline-block;
                    padding-top: 112px;
                    padding-right: 58px;
    
                    a {
                        font-size: 1em;
                        font-family: $main-font;
                    }
    
                }
            }

        }
 
    }

    .title-login{
        position: relative;
        margin: 0 0;
        padding: 0 20px;
        margin-top: 36px;
        padding-top: 33px;
        font-size: 3em;

        .title {
            margin-top: 55px;
            padding: 0 auto;


            @include responsive(pc-size) {
                display: block;
                padding-left: 42px;
                margin-top: 10px;
            }

            .title-fir {
                font-size: 1.5em;
                font-family: $main-font;
                font-weight: 500;
                margin: 0 auto;
                margin-top: 50px;

                @include responsive(pc-size) {
                    display: block;
                    float: left;
                    margin: 0 auto;
                    padding: 0 auto;
                    margin-left: -283px;
                    margin-top: -90px;
                    padding-top: 5px;
                    font-size: 90px;
                }
            }
            .title-sub {
                display: none;                       
                @include responsive(tablet-size) {
                    display: block;
                    width: 1024px;
                    font-size: 22px;
                    font-family: $main-font;
                    margin-top: -50px;
                    margin-left: -320px;
                    padding-left: 510px;
                    padding-top: 7px;
                }

                @include responsive(pc-size) {
                    display: block;
                    width: 1024px;
                    font-size: 22px;
                    font-family: $main-font;
                    padding-left: 275px;
                    padding-top: 5px;
                }
            }
        }
        .loginform {        
            margin: 0 auto;
            padding: 0 auto;
            display: flex;
            align-content: center;
        
            @include responsive(tablet-size) {
                padding-top: 70px;
            }

            @include responsive(pc-size) {
                margin: 0 auto;
                padding: 0 auto;
                margin-top: 120px;
                margin-left: 70px;
                display: flex;
                align-content: center;
                margin-top: 42px;
            }


            .loginform-box {
                
                margin-left: auto;
                margin-right: auto;
                
                
                .loginform-input-form {
                    width: 450px;
                    margin: 0 auto;
                    padding: 0 auto;
                  
                    margin-left: auto;
                    margin-right: auto;
                    overflow-x: hidden;
                    overflow-y: hidden;

                    .inp_wrap{
                        padding-left: -150px;

                        .inp_lab {
                            margin-top: 27px;
                            padding-top: 10px;
                            font-size: 22px;
                        }

                        input {
                            width: 427px;
                            height: 46px;
                        }  
                        .loginform-id {
                            margin-top: 27px;
                            padding-top: 10px;
                            font-size: 22px;

                        }
                    }
                }
                .login-button {
                    margin: 0 auto;
                    padding: 0 auto;
                    width: 78%;
                    padding-top: 64px;
                    transform: translateY(-210px);

                    button {
                        cursor: pointer;
                        margin: 0 auto;
                        padding: 0 auto;
                        display: block;
                        text-align: center;
                        width: 328px;
                        height: 46px;
                        background-color: $point-color;
                        border-radius: 10px;
                        border-color: white;
                        padding-left: 10%;
                        margin-top: 255px;
                        margin-left: -2px;
                        font-size: 25px;
                        
                        a {
                            color: #fefefe;
                            font-size: 1em;
                            font-family: $main-font;
                            margin-right: 50px;
                            width: 80%;
                            
                        }
    
                    }
                }

            }

        }

        .find-login {
            display: none;
            margin-top: 20px;
            font-size: 16px;
            text-align: center;

            @include responsive(tablet-size) {
                display: none;
            }

            @include responsive(pc-size) {
                display: flex;
                position: relative;
                margin-left: 80px;
                padding-bottom: 80px;
                padding-top: 100px;
                
            }

            #log {
                .login-id {
                    
                    @include responsive(pc-size) {
                    padding-top: 20px;
                    padding-left: 70px;
                    margin-top: 450px;
                    
                    .login-align {
                            
                            cursor: pointer;
                            color: #333333;
                            display: flex;
                            justify-content: space-between;
                            margin: 0 auto; 
                            width: 100%;
                            padding-left: 10px;
                            margin-left: 30px;
                            
                            li {
                                &:hover {
                                    color: $point-color;
                                }

                                border-right: 1px solid #333333;
                                padding-right: 30px;
                                margin-left: 14.5px;
                                justify-content: space-between;
                
                                &:last-child {
                                    border-right: 0; 
                                }

                            }


                        }
                    }
                }
            
            }

        }
    
    }
}