@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');
@import url('https://webfontworld.github.io/cafe24/Cafe24Danjunghae.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    box-sizing: border-box;
}

body {
    font-family: 'SCoreDream';
    background-color: #fefefc;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

a {
    display: block;
    text-decoration: none;
    color: #333333;
    &:hover {
        color: #82ca9c;
    }
}

ul, ol {
    li {
        list-style: none;
    }
}

img {
    display: block;
}

h1 {
    font-size: 1.8em;
}
span {
    display: block;
    font-size: 1em;
}
article {
    display: block;
}
form {
    display: block;
    margin-top: 0em;
}

body, button, input {
    margin: 0;
    padding: 0;
}
header,
nav,
main,
aside,
article,
footer {
    display: block;
}

input {
    margin: 0;
    border: 1px solid #d0d0d0;
    background: 0 0;
    box-shadow: none;
    letter-spacing: .5px;
}
button {
    text-align: center;
    color: #fff;
    box-shadow: none;
    cursor: pointer;
    font-family: $main-font;
}


