@import "style.scss";
@import "common.scss";
@import "mixin.scss";

// body {
//     padding-top: 60px;

//     @include responsive(pc-size) {
//         padding-left: 80px;
//         padding-top: 0;
//     }
// }
body {
    @include responsive(pc-size) {
        margin: 0 auto;
        padding: 0 auto;
    }
}
// header-area
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    width: $width-wide;
    height: 60px;
    padding: 0 15px;
    border-bottom: 1px solid #333;
    background-color: $bg-color;

    @include responsive(pc-size) {
        width: 80px;
        height: 100%;
        flex-direction: column;
        // align-items: baseline;
        padding: 60px 0;
        border-bottom: 0;
        border-right: 1px solid #333;
    }

    h1 {
        // background-color: aqua;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include responsive(pc-size) {
            // height: 20%;
            position: static;
            top: 0;
            left: 0;
            transform: translate(0, 0);
        }
    }

    nav {
        //background-color: aquamarine;
        @include responsive(pc-size) {
            height: 30%;
        } 

        ul.gnb {

            @include responsive(pc-size) {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            li {
                display: none;
    
                @include responsive(pc-size) {
                    display: block;
                }
    
                &:first-child {
                    display: block;

                    img {
                        height: 20px;
                    }
    
                    @include responsive(pc-size) {
                        display: none;
                    }
                }
    
                &:nth-child(2) {
                    a {
                        span {
                            @include responsive(pc-size) {
                                margin-top: 0;
                            }
                        }
                    }
                }
    
                a {
                    img {
                        width: 25px;
                        height: auto;
                    }
                    span {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        // margin-top: 70px;
                        background-color: $point-color;
                    }
                }
            }
        }
    }

    div.side-menu {
        // background-color: pink;

        @include responsive(pc-size) {
            height: 20%;
        }

            .s-menu {
                
                @include responsive(pc-size) {
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                }

                li {
                    display: none;
    
                    @include responsive(pc-size) {
                        display: block;
                    }
    
                    &:first-child {
                        font-size: 18px;
                        // transform: rotate(-90deg);
                    }
        
                    &:last-child {
                        display: block;
        
                        a {
                            img {
                                width: 25px;
                                height: 25px;
                            }
                        }
                    }
                }
            }
        }
    }

main {
    width: $width-wide;

    @include responsive(tablet-size) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include responsive(pc-size) {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 0 auto;
    }
    
    nav {
        display: none;

        @include responsive(pc-size) {
            display: block;
        }

        .wrapper {
            width: 100%;

            @include responsive(pc-size) {
                width: 1024px;
                margin: 0 auto;
            }

            @include responsive(tablet-size) {
                width: 1024px;
                margin: 0 auto;
            }

            .gnb {
                display: flex;
                justify-content: flex-end;
                list-style: none;
                flex-direction: row;
                margin-left: 30px;
    
                li {
                    display: inline-block;
                    padding-top: 112px;
                    padding-right: 58px;
    
                    a {
                        font-size: 1em;
                        font-family: $main-font;
                    }
    
                }
            }

        }
    
    }

    .title-join{
        position: relative;
        margin: 0 0;
        padding: 0 0;
        margin-top: 36px;
        margin-left: 34px;
        
        padding-top: 33px;
        font-size: 3em;

        .title {
            margin-top: 55px;
            display: block;
            margin: 0 auto;
            padding: 0 auto;

            @include responsive(pc-size) {
                display: block;
                float: left;
                margin-top: 10px;
            }

            .title-fir {
                font-size: 1.5em;
                font-family: $main-font;
                font-weight: 500;
                //display: flex;
                margin: 0 auto;
                //padding: 0 auto;
                margin-top: 50px;

                @include responsive(pc-size) {
                    display: block;
                    float: left;
                    margin: 0 auto;
                    padding: 0 auto;
                    margin-left: -283px;
                    margin-top: -90px;
                    padding-top: 5px;
                    font-size: 90px;
                    //background-color: aqua;
                    
                }

            }
            .title-sub {
                display: none;
                //background-color: aquamarine;                        
                @include responsive(tablet-size) {
                    display: block;
                    width: 1024px;
                    font-size: 22px;
                    font-family: $main-font;
                    margin-top: -30px;
                    margin-left: -320px;
                    padding-left: 279px;
                    padding-top: 7px;
                }

                @include responsive(pc-size) {
                    display: block;
                    width: 1024px;
                    font-size: 22px;
                    font-family: $main-font;
                    margin-top: -30px;
                    margin-left: -320px;
                    padding-left: 279px;
                    padding-top: 7px;
                }
            }
        }
        .form_area {
            margin: 0 auto;
            padding: 0 auto;

            @include resposive(pc-size) {
                margin: 0 auto;
                padding: 0 auto;
            }

            .wrap_email {
                margin: 0 auto;
                padding: 0 auto;

                .join_text {
                    // background-color: #333;
                    input {
                        // background-color: aqua;
                        width: 427px;
                        height: 46px;
                        border-radius: 10px;
                    }

                }
            }

            .wrap_pw {
                margin: 0 auto;
                padding: 0 auto;
                .inp_text {
                    input {
                        width: 427px;
                        height: 46px;
                        border-radius: 10px;
                    }
                }
            }

            .wrap_repw {
                margin: 0 auto;
                padding: 0 auto;

                .inp_text {
                    // background-color: antiquewhite;  
                }
                input {
                    // background-color: aqua;
                    width: 427px;
                    height: 46px;
                    border-radius: 10px;
                    
                }
            }

            .name-gender {
                display: flex; 

                .wrap_name {
                    margin: 0 auto;
                    padding: 0 auto;
                    
                    margin-left: 7px;

                    .name_lab {
                        font-size: 17px;
                        
                        padding-left: 9px;
                        padding-top: 2px;
                        margin-top: 10px;
                    }
                    .name_text {
                        
                        input {
                            width: 227px;
                            height: 46px;
                            border-radius: 10px;
                        }

                        #join_name {
                            padding-top: 35px;
                            
                        }
                    }
                }

                .wrap_gender {
                    margin: 0 auto;
                    padding: 0 auto;

                    .join_gender {

                        font-size: 17px;
                        width: 47px;
                        font-size: 17px;
                        padding-left: 9px;
                        padding-top: 2px;
                        margin-top: 10px;
                    }
    
                    .join_text {
                        // background-color: burlywood;

                    }
                }
            }


            .info#info_birth {
                display: flex;
                font-size: 17px;
                

                select {
                    
                    margin-left: 7px;
                    &:first-child {
                        margin-left: 0px;
                    }
                    &::-webkit-scrollbar {
                        width: 10px;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 3px;
                    }
                    &::-webkit-scrollbar-track {
                        border-radius: 6px;
                    }
                }
            }

            
            .wrap_phonenum {
                margin: 0 auto;
                padding: 0 auto;
                padding-top: 5px;

                .join_pho {
                    label {
                        font-size: 17px;
                    }
                    input {
                        
                        width: 427px;
                        height: 46px;
                        border-radius: 10px;
                    }

                }
            }


            .wrap_join_term {
                display: flex;
                // border-color: 1px solid #333;
                
                font-size: 17px;

                .all_terms {
                    ul {
                        li {
                            font-size: 17px;
                            list-style: none;
                            display: flex;
                            justify-content: space-between;

                            // input {
                            //     background-color: #333;
                            //     padding-left: 300px;
                            // }
                        }
                    }
                }
            }
        }

        .form_button {

            margin: 0 auto;
            padding: 0 auto;
            width: 78%;
            padding-top: 38px;

            button {
                .submit {

                    cursor: pointer;
                    margin: 0 auto;
                    padding: 0 auto;
                    display: block;
                    text-align: center;
                    width: 328px;
                    height: 46px;
                    background-color: $point-color;
                    border-radius: 10px;
                    border-color: white;
                    padding-left: 10%;
                    margin-top: 35px;
                    margin-left: -2px;
                    font-size: 25px;

                    a {
                        color: #fefefe;
                        font-size: 1em;
                        font-family: $main-font;
                        margin-right: 50px;
                        width: 80%;
                        
                    }

                }
            }
        }  
    }    
    
}